{% extends 'base.html.twig' %}

{% block body %}

    <h1>Welcome to the vote box.</h1>

    <p class="lead">In order to connect, get a link by entering your email here.</p>

    <p class="text-left">
        {{ form(form) }}
    </p>

{% endblock %}